.puzzle-layout {
  display: flex;
  gap: 20px;
}

.puzzle-board {
  --size: 60px;

  display: grid;
  grid-template-columns: repeat(var(--grid-cols), var(--size) 2px) var(--size);
  grid-template-rows: repeat(var(--grid-rows), var(--size) 2px) var(--size);

  gap: 0;
  width: max-content;
  border: 2px solid #333;
}

.cell {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

/* Vertical Border styling */
.border-v { width: 10px; height: 100%; }
.border-v.closed { border-left: 2px solid black; }
.border-v.maybe { border-left: 2px dotted gray;  }
.border-v.connected {}

/* Horizontal Border styling */
.border-h { height: 10px; width: 100%; }
.border-h.closed { border-top: 2px solid black; }
.border-h.maybe { border-top: 2px dotted gray; }
.border-h.connected {}

/* Corners where borders meet */
.corner { background: black; }

/* Make borders interactive */
.border-v:hover, .border-h:hover {
  background-color: rgba(0, 0, 255, 0.1);
  cursor: pointer;
}

.color-かたたたき { background-color: #ffcbe1 }
.color-かた { background-color: #d6e5bd }
.color-たか { background-color: #f9e1a8 }
.color-たき { background-color: #bcd8ec }
.color-きた { background-color: #dcccec }
.color-かき { background-color: #ffdab4 }

.Yes { font-weight: bold; }
.No { color: grey; }
.Maybe {}
